@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
li{
	list-style:none;	
}
img{border:0;}
body,html{
	font:12px "微软雅黑",arial;
}
a{
	text-decoration:none;
	color:#878787;
	font-size:12px;	
}
a:hover{
	color:red;
	text-decoration:underline;	
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-size:12px;	
}
input{
	outline:none;	
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;	
}

